


<div class="container-fluid">

<div class="panel panel-primary">
<div class="panel-heading"><h3>Spring Boot EmberJs 2.x MVC</h3></div>

<div class="panel-body">


<div class="panel panel-info">
<div class="panel-heading">Greetings</div>

<div class="panel-body">

<p><h5 class="text-success">
Spring Boot MVC for Backend, and EmberJs 2.13.2 for GUI. 
<br/> <br/>
You are able to - Show users, Add, Edit and Delete a User.</h5></p>


</div>
</div>



<div class="panel panel-danger">
<div class="panel-heading">Customer Info</div>

<div class="panel-body">

<div class="body">
    {{outlet}}
</div>

</div>
</div>

</div>
</div>
</div>